body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 40px;
  color: white;
  background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #e4beb3 100%);
}

.column-full {
  min-height: 89vh !important;
}

.column-linefull {
  line-height: 89vh !important;
}

footer {
  background: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: black;
  font-size: 20px;
  padding: 28px;
  margin-top: -17px;
}

.setcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Page Top */
.card {
  font-family: 'Josefin Slab', sans-serif;
  background: none;
  height: 60vh;
  width: auto;
  border: 1px solid white;
  box-shadow: none;
}

#classroom {
  background: rgba(255, 255, 255, 0.1);
}

#classroom:hover, #equipment:hover {
  opacity: 0.7;
  cursor: pointer;
}

#equipment {
  background: rgba(255, 255, 255, 0.18);
}

/* Modify Form */
#modal2 {
  /* background-color:rgb(245, 190, 184); */
  background-color: rgb(248, 198, 188);
  max-height: 80%;
  max-width: 550px;
  ;
  font-family: 'Julius Sans One', sans-serif !important;
  border-radius: 10px;
  color: #546e7a;
  font-weight: bold !important;
}

.input-field input {
  border-bottom: 0px solid #546e7a !important;
  box-shadow: 0 1px 0 0 #546e7a !important;
  color: #546e7a !important;
  font-size: 18px !important;
}

button {
  background-color: Transparent !important;
  border: 1px solid #546e7a !important;
  box-shadow: none !important;
  width: 200px;
  height: 50px !important;
  font-size: 20px !important;
  font-family: 'Julius Sans One', sans-serif !important;
  color: #546e7a !important;
  font-weight: bold !important;
}

label {
  color: #546e7a !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

/* warning */
#modal3 {
  background-color: #ffab91;
  max-height: 90%;
  max-width: 450px;
  font-family: 'Julius Sans One', sans-serif !important;
  border-radius: 10px;
}

.collapsible {
  box-shadow: none;
  border: 1px solid white;
}

.collapsible-header {
  background-color: #ffab91;
  line-height: 15px !important;
  font-size: 24px;
  font-family: 'Alegreya Sans SC', sans-serif;
  border: 1px solid white;
}

.collapsible-body {
  font-size: 22px;
  font-family: 'Alegreya Sans SC', sans-serif;
  border: 1px solid white;
  background-color: #ff9e80;
}

/* FAB */
.fixed-action-btn {
  display: block;
  line-height: 50px !important;
  position: fixed;
  right: 19px;
}

/* Image Upload */
.avatar-upload {
  position: relative;
}

.avatar-edit {
  position: absolute;
  left: 44px;
  bottom: 13px;
  z-index: 1;
}

.avatar-edit input {
  display: none;
}

.avatar-preview {
  width: 55px;
  height: 55px;
  position: relative;
  border-radius: 100%;
  background: white;
  border: 4px solid white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-preview>div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#label1 {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all .2s ease-in-out;
}

#label1:hover {
  background: white;
  border-color: #d6d6d6;
}

#label1:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #92a8d1;
  font-size: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
  margin: auto;
}

/* All List */
#modal4 {
  background-color: white;
  color: black;
  font-size: 16px;
}

li a {
  font-size: 18px !important;
  font-size: "微軟正黑體" !important;
}

tr label {
  padding-left: 10px;
}

[type="checkbox"]+span:not(.lever) {
  padding-left: 10px !important;
}

.btn-border {
  border: 0.5px solid #d1d1d1;
}

.btn-width {
  width: 80px;
}

.text-md-right {
  text-align: right !important;
  padding: 10px;
}

.titlebackground {
  color: #212121;
}